 // 分类页
.category {
  .row {
    border-radius: 1rem;
  }

  .category-item {
    border-radius: 1rem;
  }

  .category-post-list {
    border-radius: 1rem;
  }
}

// 归档页
.list-group {
  border-radius: 1rem;
}

// 分类和归档页共同
.list-group-item {
  border-radius: 1rem;
}

// 友链页
.links .card-body {
  border-radius: 1rem;
}

// 菜单栏
.navbar {
  .nav-item .nav-link {
    border-radius: 0.5rem;
  }

  .dropdown-menu {
    border-radius: 0.5rem;
  }

  .dropdown-item {
    border-radius: 0.25rem;
  }
}

// 页面背景板
#board {
  border-radius: 1rem;
}

// 返回顶部按钮
#scroll-top-button {
  border-radius: 0.5rem;
}